<div class="checkout-form">
  <div class="form-container">
    <div class="form-input">
      <label for="fullname">Full name</label>
      <input type="text" name="fullname">
    </div>
    <div class="form-input">
      <label for="mail">Email</label>
      <input type="text" name="mail">
    </div>
    <div class="form-input">
      <label for="address">Address</label>
      <input type="text" name="address">
    </div>
    <div class="form-input">
      <label for="apartment">Apartment, suite, etc. (optional)</label>
      <input type="text" name="apartment">
    </div>
    <div class="form-input">
      <label for="city">City</label>
      <input type="text" name="city">
    </div>
    <div class="form-input">
      <label for="postal_code">Postal code</label>
      <input type="text" name="postal_code">
    </div>
    <div class="form-input">
      <label for="phone">Phone</label>
      <input type="text" name="phone">
    </div>
    <button id="pay" class="btn" type="button" name="button">Checkout</button>
  </div>
</div>
