<div class="featured-product">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="./img/dummy.jpeg" alt="">
      </div>
      <div class="col-6">
        <h1 class="big-title">On January 24th, Pineapple Pink will introduce Ptoshou. And you'll see why 1192, won't be like " 1192.</h1>
        <img class="featured-product-image" src="./img/dummy2.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn" id="add-featured-product-to-cart" type="button" name="button">Add to cart</button>
      </div>
    </div>
  </div>
</div>
