<!DOCTYPE html>
<html>
  <% include ./head %>
  <body>

    <header class="header">
      <div class="inner">
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="/">
          <div class="logo-container">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#8AF1FF" d="M0 0h30v30H0z"/><path fill="#FFD2EA" d="M30 0v30H0z"/></g></svg>
          </div>
        </a>
        <div class="cart">
          <a href="/checkout">
            <span id="cart-count">(0)</span>
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M12.857 24.375c-1.418 0-2.571 1.262-2.571 2.813 0 1.55 1.153 2.812 2.571 2.812 1.418 0 2.572-1.262 2.572-2.813 0-1.55-1.154-2.812-2.572-2.812zm0 4.055c-.626 0-1.136-.558-1.136-1.243s.51-1.242 1.136-1.242c.626 0 1.136.558 1.136 1.242 0 .685-.51 1.243-1.136 1.243zM21.429 24.375c-1.418 0-2.572 1.262-2.572 2.813 0 1.55 1.154 2.812 2.572 2.812C22.846 30 24 28.738 24 27.187c0-1.55-1.154-2.812-2.571-2.812zm0 4.055c-.627 0-1.136-.558-1.136-1.243s.51-1.242 1.136-1.242c.626 0 1.135.558 1.135 1.242 0 .685-.51 1.243-1.135 1.243zM22.408 9.375h-10.53c-.406 0-.735.42-.735.938 0 .517.329.937.735.937h10.53c.406 0 .735-.42.735-.938 0-.517-.33-.937-.735-.937zM22.389 13.125h-9.635c-.416 0-.754.42-.754.938 0 .517.338.937.754.937h9.634c.417 0 .755-.42.755-.938 0-.517-.338-.937-.754-.937z" fill="#FFD2EA"/><path d="M29.668 5.845a1.42 1.42 0 0 0-1.141-.597H5.583l-.464-2.476c-.096-.516-.416-.95-.856-1.16L1.03.067C.657-.11.223.077.061.488-.1.9.071 1.377.443 1.555L3.676 3.1l3.565 19.043c.14.75.747 1.294 1.442 1.294H26.33c.407 0 .736-.362.736-.81 0-.448-.33-.811-.736-.811H8.683l-.433-2.317h18.216c.696 0 1.303-.544 1.443-1.294l2.06-11.008c.09-.48-.02-.972-.3-1.352zm-3.202 12.033H7.946L5.886 6.87h22.64l-2.06 11.008z" fill="#8AF1FF"/></g></svg>
          </a>
        </div>
      </div>
    </header>
    <% include ./navigation %>
