<div class="nav" id="nav">
  <div class="background"></div>
  <div class="content">
    <h3 class="menu-title">Blog</h3>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/shop">Shop</a>
      </li>
    </ul>
  </div>
</div>
