<% include ../partials/header %>

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="product-title">
          <h2 class="big-title">Dummy sweater</h2>
          <p>To proceed to checkout: Click Checkout Fresh Cart for AmazonFresh items or Proceed to Checkout for other items after you've reviewed the items in your</p>
        </div>
      </div>
      <div class="col-6">
        <% include ../partials/checkout-form %>
      </div>
    </div>
  </div>
</main>

<% include ../partials/footer %>
