<% include ../partials/header %>

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Cart</h1>
        <img src="./img/dummy2.jpg" alt="">
      </div>
      <div class="col-6">
        <div class="divider">

        </div>
        <h4 class="product-title">Makkintosshu sweater</h4>
        <div class="product-price">
          €96,-
        </div>
        <div class="product-amount">
          Amount : 1
        </div>
        <a href="/checkout-payment" class="btn">Continue checkout</a>
      </div>
    </div>
  </div>
</main>

<% include ../partials/footer %>
